@import "base";
@import "header";

.section_1 {
  //  h2, .banner h5, .banner a{opacity: 0;}/
  h2 {
    opacity: 0;
  }
  h3{
    opacity: 0;
  }
  .btn_section {
    opacity: 0;
  }
  .slick-active h2 {
    transform: translateY(80px);
    animation: 0.5s fadeUp 0.5s forwards;
  }
  .slick-active h3 {
    transform: translateY(80px);
    animation: 0.8s fadeUp 0.8s forwards;
  }

  @keyframes fadeUp {
    0% {
      transform: translateY(80px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .banner_slider {
    .slider {
      @extend .postion_relative;
      picture {
        img {
          height: 100vh;
          object-fit: cover;
        }
      }
      .slider_info {
        @extend .width_100;
        @extend .postion_t_b;

        .text_xl {
          @extend .color_white;
          @extend .n_s_b;
          @extend .text_uppercase;
        }
      }
      .scroll_down{
        @extend .width_100;
        @extend .postion_t_b;
        @extend .color_white;
        top: 90%;
      }
    }
  }
}

.section_2{
  position: relative;
  
  &::after{
    content: '';
    width: 100%;
    height: 440px;
    left: 0;
    z-index: -1;
    top: -55px;
    position: absolute;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/home/who_bg.png);
  }
  .who{
    h3{
      color: #67C4C7;
      letter-spacing: -2px;
    }
    .para_text_w{
      width: 70%;
    }
  }
}

.section_4{
  background-color: var(--primary_color);
  .types{
    .types_section{
      .icon_box{
        width: 33.33%;
        .box{
          .icon{
            width: 28%;
            position: relative;
            .icon_p{
              top: -18px;
              left: 50%;
              position: absolute;
              transform: translateX(-50%);
            }
            .icon_n{
              top: -18px;
              left: 50%;
              opacity: 0;
              position: absolute;
              transform: translateX(-50%);
            }
          }
          .text{
            width: 72%;
            padding-left: 40px;
          }
        }
      }
    }
  }
}

.section_5{
  .title_info{
    .title{
      width: 38%;
      h2{
        margin-top: -10px;
      }
    }
    .info{
      width: 62%;
    }
  }
  .roll{
    width: 600px;
    margin: auto;
    @extend .postion_relative;
    .box{
      @extend .postion_absolute;
      &.box_1{
        top: -50px;
        left: 20%;
        transform: translateX(-50%);
      }
      &.box_2{
        top: 68%;
        left: 10%;
        transform: translate(-50%, -50%);
      }
      &.box_3{
        bottom: -53%;
        left: 50%;
        transform: translate(-50%, -50%);
        h4{
          margin: -30px 0 0 -20px;
        }
      }
      &.box_4{
        top: 66%;
        right: -35%;
        transform: translate(-50%, -50%);
      }
      &.box_5{
        top: -50px;
        right: -23%;
        transform: translateX(-50%);
      }
    }
  }
}

.section_6{
  background-color: var(--fourth_color);
}

.section_7{
  .title_info{
    .title{
      width: 50%;
      h2{
        margin-top: -10px;
      }
    }
    .info{
      width: 50%;
    }
  }
  .markets{
    padding-left: 15px;
    margin-left: var(--container_left_space);
    .markets_slider{
      .slider{
        margin: 0 10px;
        cursor: pointer;
        .blog_img{
          overflow: hidden;
          &:hover{
            img{
              transform: scale(1.1);
            transition: linear .5s;
            }
          }
        }
      }
    }
  }
}

.section_8{
  background-color: var(--primary_color);
  .our{
    .info{
      width: 50%;
      padding-right: 60px;
    }
    .map{
      width: 50%;
    }
  }
}

.section_9{
  background-color: var(--fourth_color);
  .title_info{
    .title{
      width: 35%;
      h2{
        margin-top: -10px;
      }
    }
    .info{
      width: 65%;
    }
  }
  .icon_slider{
    margin-left: var(--container_left_space);
    padding-bottom: 40px;
    .slider{
      padding: 0 10px;
    }
    .slick-dots {
      margin-left: -5vw;
      left: 50%;
      width: auto;
      border-radius: 100px;
      padding: 6px 15px 9px 15px;
      transform: translateX(-50%);
      background-color: #FBF5EC;
      border: 1px solid #70707069;
      li {
        button{
          &:before{
            font-size: 32px;
          }
        }
      }
    }
  }
}

.section_10{
  .title_info{
    .title{
      width: 35%;
      h2{
        margin-top: -10px;
      }
    }
    .info{
      width: 65%;
    }
  }
  .our_sustainability{
    margin: 0 -10px;
    .slider{
      width: 25%;
      padding: 0 10px;
      cursor: pointer;
      .blog_img{
        overflow: hidden;
        &:hover{
          img{
            transform: scale(1.1);
          transition: linear .5s;
          }
        }
      }
    }
  }
  .environmentally{
    padding: 50px;
    background-color: #67C4C7;
    .box{
      .img{}
      .info{
        padding-left: 15px;
      }
    }
  }
}

.section_11{
  .title_info{
    .title{
      width: 40%;
      h2{
        margin-top: -10px;
      }
    }
    .info{
      width: 60%;
    }
  }
}

.section_12{
  background-color: var(--primary_color);
  .counter{
    padding-right: 30px;
    h3{
      color: #67C4C7;
    }
    margin-left: var(--container_left_space);
  }
}

.section_13{
  position: relative;
  
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    bottom: 0;
    position: absolute;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/home/bg_team.png);
  }
  .product_section {
    .title_info{
      .title{
        width: 40%;
        h2{
          margin-top: -10px;
        }
      }
      .info{
        width: 60%;
      }
    }

    .tab_section {
        .button_style {


            .main_tab_btn {
                @media screen and (max-width: 992px) {
                    overflow-x: auto;
                    white-space: nowrap;
                    padding-bottom: 15px;
                }

                .btn {
                    cursor: pointer;
                    margin-right: 80px;
                    opacity: .5;
                    color: #47484A;
                    &.active {
                      opacity: 1;
                      color: var(--primary_color);
                      border-bottom: 1px solid var(--primary_color);
                    }
                }
            }
        }

        .slider_section {
            .product_slider_tab {
                margin: 0 -15px;

                .slider {
                    padding: 0 15px;

                    @media screen and (max-width: 767px) {
                        padding: 0 10px;
                        margin-bottom: 20px;
                    }

                    img {
                      padding-bottom: 20px;
                        @media screen and (max-width: 767px) {
                            width: 100%;
                        }
                    }
                    h6{
                      margin-bottom: 5px;
                    }
                }

                .prev-arrow {
                    top: 50%;
                    left: -50px;
                    bottom: -75px;
                    cursor: pointer;
                    position: absolute;
                    transform: translateY(-50%);

                    @media only screen and (max-width: 767px) {
                        bottom: -50px;
                    }
                }

                .next-arrow {
                  top: 50%;
                  right: -50px;
                  bottom: -75px;
                  cursor: pointer;
                  position: absolute;
                  transform: translateY(-50%);

                    @media only screen and (max-width: 767px) {
                        right: 10px;
                        bottom: -50px;
                    }
                }
            }

        }
    }
  }
}

.section_14{
  .connect{
    .add{
      width: 40%;
      ul{
        li{
          position: relative;
          list-style: none;
          margin: 40px 0;
          .info_img{
            top: 4px;
            left: -40px;
            position: absolute;
          }
          a{
            color: var(--text_color);
            text-decoration: none;
          }
        }
      }
    }
    .connect_form{
      width: 60%;

      .form{
        padding: 50px 30px;
        border-radius: 25px;
        border: 1px solid #24A8AC;
        .form_field{
          width: 50%;
          padding:20px;
          &.textarea_width{
            @extend .width_100;
          }
          input{
            width: 100%;
            border: 0;
            @extend .text_xxs;
            border-bottom: 1px solid #47484A;
            &:focus{
              outline: none;
            }
          }
          select{
            width: 100%;
            border: 0;
            @extend .text_xxs;
            border-bottom: 1px solid #47484A;
            color: #47484A;
          }
          textarea{
            width: 100%;
            border: 0;
            height: 31px;
            line-height: 0s;
            @extend .text_xxs;
            border-bottom: 1px solid #47484A;
            &:focus{
              outline: none;
            }
          }
        }
      }

      ::placeholder {
        color: #47484A !important;
        font-size: 16px !important;
        opacity: 1; /* Firefox */
        font-family: "nunitosans-Regular" !important;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #47484A !important;
        font-size: 16px !important;
        opacity: 1; /* Firefox */
        font-family: "nunitosans-Regular" !important;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #47484A !important;
        font-size: 16px !important;
        opacity: 1; /* Firefox */
        font-family: "nunitosans-Regular" !important;
      }
    }
  }
}
.zoomIn {
  &[data-scroll] {
    transition: all 1.5s;
  }

  &[data-scroll="in"] {
    transform: scale(1);
  }

  &[data-scroll="out"] {
    transform: scale(1.2);
  }
}
